---
title: "main page"
metas: "main"
---
:css
	@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

= image_tag "http://assets.belafonte.co/images/firma_digitale_logo.png", class: "signature"
%p.signature
	<span>PIERMARIA COSINA</span><br />
	User Experience Designer | Product Developer<br />
	<br />
	<a href="#" style="color:#4D4D4D; text-decoration:none">+39 392 4822 633</a><br />
	<a href="http://www.belafonte.co?utm_source=signature&utm_medium=email&utm_campaign=signature">www.belafonte.co</a>	
= image_tag "http://assets.belafonte.co/images/firma_digitale_logo.png", class: "signature"
%p.signature
	<span>ELEONORA GIAMMELLO</span><br />
	Digital Fashion Strategist | Fashion Stylist<br />
	<br />
	<a href="#" style="color:#4D4D4D; text-decoration:none">+39 349 1771 361</a><br />
	<a href="http://www.belafonte.co?utm_source=signature&utm_medium=email&utm_campaign=signature">www.belafonte.co</a>	
= image_tag "http://assets.belafonte.co/images/firma_digitale_logo.png", class: "signature"
%p.signature
	<span>GIULIA BARRA</span><br />
	User Experience Designer | Service Designer<br />
	<br />
	<a href="#" style="color:#4D4D4D; text-decoration:none">+39 329 7885 874</a><br />
	<a href="http://www.belafonte.co?utm_source=signature&utm_medium=email&utm_campaign=signature">www.belafonte.co</a>