---
title: "main page"
metas: "main"
---
:css
	@import url(http://fonts.googleapis.com/css?family=Muli:400|Lato:300,400,700);

= image_tag "VINYLUNITED_logo-firmadigitale.png"
%p.signature
	<span>Guido Chiovato</span><br />
	CEO & Executive Partner<br />
	<br />
	m. +39 335 610 9818<br />
	guido.chiovato@vinylunited.com<br />
	skype: guido_chiovato<br /><br />
	MILAN • NEW YORK • SAN FRANCISCO
